html,body,div,h1,h2,h3,h4,h5,h6,input,form,{	
	margin:0;
	padding:0;
	outline: 0;
}
body{
	font-size: 62.5%;
}
a{
	outline: 0;
	text-decoration: none;
}
ul{
	margin: 0px;
	padding:0;
}
li{
	list-style: none;
}

.banner{
	width: 100%;
	background-color: #222222;
	text-align: center;
	color: #ffffff;
	padding: 25px;

}
.banner h1{
	font-size: 3.6rem;
	margin-top: 0;
}
.banner h1 > span{
	color: #61dafb;
}
.banner h3{
	font-size: 2.4rem;
}
.banner > img{
	width: 40px;
	float: left;
	top: 50px;
	left: 100px;
}
.toDoContainer{
	margin:50px auto auto;
	border:1px solid #b5b5b5;
	border-radius: 5px;
	padding:20px;
	max-width:800px;
	background-color: #2d2d2d; 
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
}
#todolist li{
	margin-top: 15px;
	border:1px solid #ebe8e8;
	border-radius: 5px;
	padding-bottom: 6px;
	font-size: 1.6rem;
	background-color: #2d2d2d;
	color: #ebe8e8;
	padding: 10px;
	position: relative;
	vertical-align: middle;
}
#todolist li > img{
	width: 2rem;
	float: right;
	right: 10px;
	margin-right: 10px;
	vertical-align: middle;
	cursor: pointer;
}
#todolist li > input{
	outline:none;
	border: none;
	background-color: #2d2d2d;

}
#todolist li.editActive{
	border:1px solid #61dafb;
}